header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;            
  font-family: Nunito;
  gap: 135px;
}

a.logo
{  
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0px;
}
a.logo span
{
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 6px;
  font-weight: 700;
  color: #3E3F43;

}
a.logo img
{  
  width: 64px;
  height: 64px;
  cursor: pointer;
}



  


