.top-website
{
    position: relative;
}


.full-width-image
{
   height: 797px;
   width: 100vw;
   margin-left: calc(-50vw + 50%);

}

.On-Web-top-img
{
    position: absolute; 
    color: #612999;
    font-family: Nunito;
    margin-top: 32px;
}
.On-Web-top-img h1
{
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.On-Web-top-img p
{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.About
{
    margin-top: 32px;
    text-align: justify;
    font-family: 'Rubik';
    font-style: normal;
}
.About h2
{
    color: #612999;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px; 
}


.About-P
{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.625%; 
}
.About-P p
{
    margin-top: 20px;
}
